@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@700&display=swap');

* {
    text-decoration: none !important;
}

body {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Global */

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

li {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.button {
    height: 2.2rem;
    width: 8rem;
    border: #931d00 0.1rem solid;
    color: #931d00;
    font-size: 0.7rem;
    background-color: #fffdee;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.button:hover {
    color: #fffdee;
    background-color: #931d00;
    transition: .1s ease-in-out;
}

.button-clear {
    height: 2.2rem;
    width: 8rem;
    border: #fff 0.1rem solid;
    color: #fff;
    font-size: 0.7rem;
    background-color: #931d00;
    font-weight: 700;
    margin-top: 0.5rem;
}

.button-clear:hover {
    color: #931d00;
    background-color: #fffdee;
    transition: .1s ease-in-out;
}


/* Home page */

header {
    background: url('../images/istockphoto-1175781029-2048x2048.png') no-repeat;
    max-height: 80vh;
}

header li {
    font-weight: 700;
    font-size: 0.6rem;
    text-decoration: none !important;
    text-align: center;
    padding: 0 0.4rem 0 0.4rem;
    display: inline;
    cursor: pointer;
}

header li:hover {
    color: #931d00;
    transition: .1s ease-in-out;
}

#nav1 {
    float: left;
    margin-top: 1rem;
}

#nav2 {
    float: right;
    margin-top: -2rem;
}


#branding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center !important;
}

.logo {
    height: 3rem;
}

#name {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
}

#mainhead {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 4.6rem;
    text-align: center;
    margin-top: -1rem;
    line-height: 1;
}

.axe {
    height: 30rem;
    z-index: 100;
    margin-top: -12.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Delivery section */

#delivery {
    background-color: #fffdee;
    text-align: center;
    height: 350px;
}

.text-line1 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.text-line2 {
    color: #000;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
}

/* About section */

#about {
    background-color:#fffdee;
    height: 650px;
}

#about-box {
    height: 35rem;
    width: 50%;
    background-color: #931d00;
    color: #fff;
    margin: auto;
    padding: 10rem 6rem 6rem 8rem;
    float: left;
}

#about-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.about-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.about-image {
    height: 500px;
    width: 50%;
    float: right;
}

/* Product section */

#products {
    background-color: #fffdee;
    height: 910px;
}

#product-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1.4rem;
}

.log-box {
    float: left;
    text-align: center;
    margin-bottom: 3rem;
    width: 33.3%;
    padding: 1rem;
    align-items: center;
}

.log-image {
    width: 100%;
}

.text-log1 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.text-log2 {
    color: #000;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
}

#see-more-button {
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin-bottom: 3rem;
}

#see-more-button:hover {
    color: #931d00;
    transition: .1s ease-in-out;
}


/* Storage section */

#storage {
    background-color: #fffdee;
}

.store-image {
    max-height: 400px;
    float: left;
    width: 50%;
    align-items: center;
}

.store-box {
    color: #fff;
    background-color: #931d00;
    height: 400px;
    float: right;
    width: 50%;
    padding: 4rem;
}

#store-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.store-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* Blog section */

#blog {
    background-color: #fffdee;
}

#blog-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2.2rem;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.blog-box {
    float: left;
    margin-bottom: 3rem;
    width: 50%;
    align-items: center;
}

.blog-date {
    color: #931d00;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 1rem;
}

.blog-head {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.button-read {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin-bottom: 3rem;
}

.button-read:hover {
    color: #931d00;
    transition: .1s ease-in-out;
}

/* Contact section */

#contact {
    background: url('../images/istockphoto-175444922-2048x2048.jpg') no-repeat;
}

#contact-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2.2rem;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.address-bold {
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0;
}

.address-regular {
    font-size: 0.8rem;
    margin: 0;
}

#address-box {
    float: left;
    margin-bottom: 3rem;
    width: 50%;
}

#form {
    float: right;
    margin-bottom: 3rem;
    width: 50%;
}

#form .contact-form input,
#form .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
}

#form .placeholder {
    color: #931d00 !important;
    font-size: 0.6rem;
}

#contact-button {
    height: 2.2rem;
    width: 100%;
    border: #931d00 0.1rem solid;
    color: #fffdee;
    font-size: 0.7rem;
    background-color: #931d00;
    font-weight: 700;
}

#contact-button:hover {
    background-color: #fff;
    border: #931d00 0.1rem solid;
    color: #931d00;
    transition: .1s ease-in-out;
}

.address-bold i {
    border-radius: 50%;
    font-size: 1rem;
    color: #931d00;
    margin-right: 0.5rem;
}

.social-links li a i {
    border-radius: 50%;
    font-size: 1.5rem;
    color: #931d00;
    margin-top: 1rem;
}

.social-links li a i:hover {
    color: #000;
    transition: .1s ease-in-out;
}

/* Footer */

footer {
    font-size: 0.8rem;
    color: #fff;
    background-color: #931d00;
    border-top: #eeee22 0.5rem solid;
}

#footer1 {
    float: left;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 50%;
}

#footer2 {
    float: right;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 50%;
    text-align: right;
}

