@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@700&display=swap');

* {
    text-decoration: none;
}

body {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Global */

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button {
    height: 2.2rem;
    width: 8rem;
    border: #931d00 0.1rem solid;
    color: #931d00;
    font-size: 0.7rem;
    background-color: #fffdee;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.button:hover {
    color: #fffdee;
    background-color: #931d00;
    transition: .1s ease-in-out;
}


/* Home page */

header {
    background: url('../images/istockphoto-1175781029-2048x2048.png') no-repeat;
    max-height: 80vh;
}

header li {
    color: red;
    font-weight: 700;
    font-size: 0.6rem;
    text-decoration: none;
    text-align: center;
    padding: 0 5px 0 5px;
    display: inline;
}

#nav1 {
    float: left;
    margin-top: 1rem;
}

#nav2 {
    float: right;
    margin-top: -2rem;
}

#branding {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 3rem;
}

#name {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
}

#mainhead {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 4.6rem;
    text-align: center;
    margin-top: -1rem;
    line-height: 1;
}

.axe {
    height: 30rem;
    z-index: 100;
    margin-top: -13rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Delivery section */

#delivery {
    background-color: #fffdee;
    text-align: center;
    height: 350px;
}

#delivery-line1 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

#delivery-line2 {
    color: #000;
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* About section */

#about {
    background-color: #fffdee;
}

#about-box {
    height: 500px;
    width: 50%;
    background-color: #931d00;
    color: #fff;
    padding: 4rem;
    float: left;
}

#about-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.about-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.about-image {
    height: 500px;
    width: 50%;
    float: right;
}

/* About section */

#products {
    background-color: #fffdee;
}

#product-head {
    font-family: 'Noto Sans JP', sans-serif;
    color: #931d00;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
}